
@{
    ViewBag.Title = "CardAdmin";
}
@Scripts.Render("~/bundles/CardAdmin")
<h2>CardAdmin</h2>

<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>Code</th>
            <th>Title</th>
            <th>MangocardId</th>
            <th>Url</th>
            <th>日期</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:viewModel.MangoCards">
        <tr>
            <td data-bind="text:Code"></td>
            <td data-bind="text:Title"></td>
            <td data-bind="text:MangocardId"></td>
            <td>
                <a href="#" data-bind="attr:{href:Url}">Url</a>
            </td>
            <td data-bind="date:UpdateTime"></td>
            <td>
                @*<a href="#" data-bind="click:RegisterAdmin.viewModel.Pass">通过</a>
                <a href="#" data-bind="click:RegisterAdmin.viewModel.Reject">驳回</a>*@
            </td>
        </tr>
    <tr>
        <td colspan="1" data-bind="qrbind:Url"></td>
        <td colspan="7" data-bind="text:Description"></td>
    </tr>
    </tbody>
</table>