@{
    ViewBag.Title = "GetMangoCard";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@Scripts.Render("~/bundles/GetMangoCard")

<div class="container">
    <h1>微信扫描登录</h1>
    <div id="qrcode"></div>
    <div id="logs"></div>
</div>