@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/Cards")
@Styles.Render("~/Content/Cards")
<style type="text/css" media="screen">
    .square-thumb {
        width: 150px;
        height: 150px;
    }
</style>

<div class="container">
    <div class="row">
        <h2 class="text-center title">我的卡片 </h2>
        <div class="well text-center" data-bind="visible:viewModel.mycards().length==0">
            <div class="align-middle">
                您尚未选择任何 Mango Card
            </div>
        </div>
        <ul class="nav nav-tabs nav-justified" data-bind="if:viewModel.mycards().length>0">
            <li><a href="#" data-bind="click:Cards.viewModel.filters,css:(Cards.viewModel.typetoshow()=='*'?'active':'')" data-filter="*">全部</a></li>
            <!-- ko foreach:viewModel.mycardtypes -->
            <li>
                <a href="#" data-bind="text:Name,attr:{'data-filter':'.'+Id()},click:Cards.viewModel.filters,css:(Cards.viewModel.typetoshow()==('.'+Id())?'active':'')"></a>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <div class="row" style="margin-top:25px;" data-bind="isotope: { data: viewModel.mycards, options: viewModel.isotopeOptions }" id="container">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 portfolio-item" data-bind="css:CardTypeId">
            <div class="grid-item">
                <div class="caption img-rounded">
                    <div class="item-container">
                        <div class="item-inner-container">

                            @*<a class="text-white" data-bind="click:Home.viewModel.showqrcode" href="#">查看</a>
                                <a class="text-white" href="#">选择</a>*@
                        </div>
                    </div>
                </div>
                <img data-bind="attr:{'alt':Title}" src="http://placehold.it/700x400" class="img-responsive img-rounded">
            </div>
        </div>
    </div>

</div>


<div class="container">
    <div class="row">
        <h2 class="text-center title">我的素材 </h2>
        <div class="well text-center" data-bind="visible:viewModel.mymediaetypes().length==0">
            <div class="align-middle">
                <p data-bind="text:viewModel.file.Name()==null?'您尚未上传任何素材':(viewModel.file.Verify()?viewModel.file.Name:'文件大小超出限制')"></p>
                <div style="max-width: 200px; margin: auto" data-bind="visible:viewModel.file.Verify">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" style="min-width: 2em;" data-bind="style:{'width':viewModel.uploadprogress.Valuenow()}">
                            <span data-bind="text:viewModel.uploadprogress.Valuenow"></span>
                        </div>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data" action="/API/Upload">
                    <button type="button" class="btn btn-success" data-bind="click:viewModel.openfileselect">上传本地素材</button>
                    <input type="file" id="file" name="file" style="display: none" data-bind="event:{change:viewModel.fileselected}" />
                </form>
            </div>
        </div>
        <ul class="nav nav-tabs nav-justified" data-bind="if:viewModel.mymediaetypes().length>0">
            <li><a href="#" data-bind="click:Cards.viewModel.mediafilters,css:(Cards.viewModel.mediatypetoshow()=='*'?'active':'')" data-filter="*">全部</a></li>
            <!-- ko foreach:viewModel.mymediaetypes -->
            <li>
                <a href="#" data-bind="text:Name,attr:{'data-filter':'.'+Id()},click:Cards.viewModel.mediafilters,css:(Cards.viewModel.mediatypetoshow()==('.'+Id())?'active':'')"></a>
            </li>
            <!-- /ko -->
            <li>
                <a href="#" data-bind="click:viewModel.openfileselect,visible:viewModel.file.UploadProgress()==false">
                    上传本地素材
                </a>
                <div class="progress" style="margin-bottom: 0;" data-bind="visible:viewModel.file.UploadProgress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" style="min-width: 2em;" data-bind="style:{'width':viewModel.uploadprogress.Valuenow()}">
                        <span data-bind="text:viewModel.uploadprogress.Valuenow"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="row" style="margin-top:25px;" data-bind="isotope: { data: viewModel.mediademos, options: viewModel.isotopeOptions }" id="mediacontainer">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 portfolio-item" data-bind="css:MediaTypeId">
            <div class="thumbnail">
                @*<img data-bind="attr:{'alt':Name,src:ThumbnailUrl}" />*@
                <div class="nailthumb-container square-thumb">
                    <img data-bind="attr:{'alt':Name,src:ThumbnailUrl}" />
                </div>

                <div class="caption">
                    <p data-bind="text:FileName" style="word-wrap: break-word;"></p>
                    <p>
                        <span data-bind="date:UpdateTime">a</span>
                        <span style="float: right">

                            <a href="#" title="拷贝链接">
                                <span class="glyphicon glyphicon-copy"></span>
                            </a>
                            <a href="#" title="删除">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    @*<div class="row" style="margin-top:25px;" data-bind="isotope: { data: viewModel.mediademos, options: viewModel.isotopeOptions }" id="mediacontainer">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 portfolio-item" data-bind="css:MediaTypeId">
                <div class="thumbnail">
                    <img data-bind="attr:{'alt':Name,src:ThumbnailUrl}" />
                    <div class="caption">
                        <p data-bind="text:FileName"></p>
                        <p>
                            <span data-bind="date:UpdateTime">a</span>
                            <span style="float: right">

                                <a href="#" title="拷贝链接">
                                    <span class="glyphicon glyphicon-copy"></span>
                                </a>
                                <a href="#" title="删除">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>*@
</div>


@*<div class="container">
        <ul data-bind="foreach:viewModel.mycards">
            <li>
                <span data-bind="text:Name"></span>
                <ul data-bind="foreach:MangoCardModels">
                    <li>
                        <span data-bind="text:Title"></span>
                        <span data-bind="text:Description"></span>
                        <span data-bind="text:IsPublish"></span>
                        <img data-bind="attr:{src:ThumbnailUrl}" />
                        <a href="#" data-bind="click:Cards.viewModel.SelectCard">选择</a>
                    </li>
                </ul>
            </li>

        </ul>
        <h2>基础数据</h2>
        <span>浏览：<span data-bind="text:viewModel.selectedcard.PvCount"></span></span>
        <span>分享：<span data-bind="text:viewModel.selectedcard.ShareTimeCount"></span></span>
        <hr />
        <h2>html</h2>
        <textarea data-bind="text:viewModel.selectedcard.HtmlCode"></textarea>
    </div>*@