@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/Cards")
@Styles.Render("~/Content/Cards")

<div class="container" style="width: 1140px !important;">
    <h2 class="text-center title">我的卡片</h2>
    <div class="well text-center" data-bind="visible:viewModel.mycards().length==0">
        <div class="align-middle">
            您尚未选择任何 Mango Card
        </div>
    </div>
    <ul class="nav nav-tabs nav-justified" data-bind="if:viewModel.mycards().length>0">
        <li><a href="#" data-bind="click:Cards.viewModel.filters,css:(Cards.viewModel.typetoshow()=='*'?'active':'')" data-filter="*">全部</a></li>
        <!-- ko foreach:viewModel.mycardtypes -->
        <li>
            <a href="#" data-bind="text:Name,attr:{'data-filter':'.'+Id()},click:Cards.viewModel.filters,css:(Cards.viewModel.typetoshow()==('.'+Id())?'active':'')"></a>
        </li>
        <!-- /ko -->
    </ul>
    <div class="row" style="margin-top: 25px;" data-bind="foreach: viewModel.mycards" id="container">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 portfolio-item " data-bind="css:CardTypeId,isotopetype: {container: '#container', itemSelector: '.portfolio-item '}">
            <div class="grid-item video-layout">
                <div class="caption img-rounded">
                    <div class="item-container">
                        <div class="item-inner-container">
                            <h4 data-bind="text:Title" style="padding: 10px"></h4>
                            <h5 style="padding: 5px"><a class="text-white" href="#" data-bind="click:Cards.viewModel.preview">预览</a><a class="text-white" href="#" data-bind="click:Cards.viewModel.edit">编辑</a><a class="text-white" href="#" data-bind="click:Cards.viewModel.data">数据</a></h5>
                            <h5 style="padding: 5px" data-bind="text:'模板编号：'+ Code()"></h5>
                        </div>
                    </div>
                </div>
                <img data-bind="attr:{'src':ThumbnailUrl}" class="img-responsive img-rounded">
            </div>
        </div>
        @*<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card-item" data-bind="css:CardTypeId,isotopetype: {container: '#container', itemSelector: '.card-item'}">
                <div class="grid-item">
                    <div class="caption img-rounded">
                        <div class="item-container">
                            <div class="item-inner-container">
                                <h4 data-bind="text:Title" style="padding: 10px"></h4>
                                <h5 style="padding: 5px"><a class="text-white" href="#">预览</a><a class="text-white" href="#" data-bind="click:Cards.viewModel.edit">编辑</a><a class="text-white" href="#" data-bind="click:Cards.viewModel.data">数据</a></h5>
                                <h5 style="padding: 5px" data-bind="date:UpdateTime"></h5>
                            </div>
                        </div>
                    </div>
                    <img data-bind="attr:{'src':ThumbnailUrl}" class="img-responsive img-rounded">
                </div>
            </div>*@
    </div>

</div>
<div id="dataedit">
    <div class="container" style="position: relative;padding-left: 0px; padding-right: 0px;" data-bind="visible:Cards.viewModel.MangoCardAttribute.MangoCardId()!=null">
        <hr />
        <div>
            <h2 class="text-center title" data-bind="text:viewModel.MangoCardAttribute.MangoCardTitle"></h2>
        </div>
        <ul class="nav nav-tabs">
            <li class="active" role="presentation">
                <a href="#" data-bind="click:Cards.viewModel.tab" id="normallink">普通模式</a>
            </li>
            <li role="presentation">
                <a href="#" data-bind="click:Cards.viewModel.tab" id="advancedlink">代码模式</a>
            </li>
            @*<li class="pull-right">
                    <span class="text-success" style="display: block; padding: 10px 15px; position: relative;"></span>

                </li>*@
        </ul>
        <p class="operation-tips" style="display: none"></p>
        <!--普通编辑模式 -->
        <div class="tab-content" style="border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ddd; padding:10px;" id="editnormal">
            <div class="text-center" style="height: 200px; line-height: 200px" data-bind="visible:viewModel.MangoCardAttribute.FieldModels().length==0">
                没有需要自定义的属性
            </div>
            <div class="form-horizontal col-md-6 scrollspy-example" data-bind="if:viewModel.MangoCardAttribute.FieldModels().length!=0">
                <!-- ko foreach:viewModel.MangoCardAttribute.FieldModels -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        <span data-bind="text:Name"></span>
                        <span>
                            <a class="text-gray" href="#">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </span>
                    </label>
                    <div class="col-sm-9" style="max-width:350px">
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="value:FieldValue,visible:(FieldType()==0 ||FieldType()==1) " />
                            <span class="input-group-addon" data-bind="text:FieldTypeName,visible:(FieldType()==0||FieldType()==1||FieldType()==4)"></span>
                        </div>
                        <div data-bind="if:FieldType()==3">
                            <p class="text-muted uploadprogress">
                                <span data-bind="template: { name: 'editorTmpl', data: MediaModel }">

                                </span>
                                <script id="editorTmpl" type="text/html">
                                    @*<span data-bind="visible:$data !=null">大小不超过5M</span>*@
                                    <span data-bind="text:FileName"></span>
                                    <span>
                                        <a href="#" data-bind="click:Cards.viewModel.ViewUpload">
                                            查看
                                        </a>
                                    </span>
                                </script>

                            </p>
                            <div class="progress" style="display: none">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" style="min-width: 2em;width: 0%;">
                                    <span></span>
                                </div>
                            </div>
                            <a href="#" class="btn btn-success" data-bind="click:Cards.viewModel.UploadMaterial">本地上传</a>
                            <input style="display: none" type="file" data-bind="event:{change:UploadPlug.uploadprocess}" />
                            <a href="#" class="btn btn-success" data-bind="click:Cards.viewModel.showlibrary">从素材库选择</a>
                        </div>
                        <textarea class="form-control" rows="3" data-bind="value:FieldValue,visible:FieldType()==2"></textarea>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div class="col-md-6 scrollspy-example" data-bind="html:viewModel.MangoCardAttribute.Instructions,visible:viewModel.MangoCardAttribute.Instructions()!=null">
            </div>
            <div class="clearfix"></div>
            <hr />
            <p class="text-center">
                <a href="#" class="btn btn-black" data-bind="click:Cards.viewModel.normalsave">
                    保存
                </a>
                <a href="#" class="btn btn-black" data-bind="click:Cards.viewModel.submitaudit">
                    发布
                </a>
            </p>
            <p class="text-center">
                <span>
                    <input type="checkbox" data-bind="checked:Cards.viewModel.SaveAndPreview"> 保存并预览
                </span>
            </p>
        </div>
        <!--高级编辑模式 -->
        <div class="tab-content" id="editadvanced" style="border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ddd; padding: 10px">
            <div id="editadvancedarea">
            </div>
            <hr />
            <p class="text-center">
                <a href="#" class="btn btn-black" data-bind="click:Cards.viewModel.advancedsave">
                    保存
                </a>
                <a href="#" class="btn btn-black" data-bind="click:Cards.viewModel.submitaudit">
                    <span>发布</span>
                    <i class="fa fa-spinner fa-pulse hide"></i>
                </a>
            </p>
            <p class="text-center">
                <span>
                    <input type="checkbox" data-bind="checked:Cards.viewModel.SaveAndPreview"> 保存并预览
                </span>
            </p>
        </div>

    </div>
</div>
<div id="dataview">
    <div class="container" data-bind="visible:Cards.viewModel.baseaccessdata.CardTitle()!=null">
        <div class="row">
            <h2 class="text-center title">数据 </h2>
        </div>
        <p>
            <span data-bind="text:Cards.viewModel.baseaccessdata.CardTitle"></span>
            <span style="float: right">
                类型：<span data-bind="text:Cards.viewModel.baseaccessdata.CardType"></span>
            </span>
        </p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>基础</span>
                <span class="pull-right">
                    <a href="#" class="text-gray" data-bind="click:Cards.viewModel.refreshbasepagevalue"><i class="fa fa-refresh"></i></a>
                </span>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="col-md-4 col-sm-6 pull-right">
                        <h4 class="text-center">
                            浏览用户数
                        </h4>
                        <p class="text-center" data-bind="text:Cards.viewModel.baseaccessdata.PvDataCount"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-4 col-sm-6 pull-left">
                        <h4 class="text-center">
                            分享次数
                        </h4>
                        <p class="text-center" data-bind="text:viewModel.baseaccessdata.ShareTimeCount"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>表单数据</span>
                <span class="pull-right">
                    <a href="#" class="text-gray" data-bind="click:Cards.viewModel.refreshformpagevalue"><i class="fa fa-refresh"></i></a>
                </span>
            </div>
            <div class="text-center panel-body" data-bind="visible:viewModel.pagedata.Fields().length==0">
                <div class="align-middle">
                    尚未无数据
                </div>
            </div>
            <table class="table table-bordered" data-bind="visible:viewModel.pagedata.Fields().length!=0">
                <thead>
                    <tr data-bind="foreach:Cards.viewModel.pagedata.Fields">
                        <td data-bind="text:$data"></td>
                    </tr>
                </thead>
                <tbody data-bind="foreach:Cards.viewModel.pagedata.Rows">
                    <tr data-bind="foreach:tdvalues">
                        <td data-bind="text:value"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*<div class="container">
        <h2 class="text-center title">我的素材 </h2>
        <div class="well text-center" data-bind="visible:viewModel.mymediaetypes().length==0">
            <div class="align-middle">
                <p data-bind="text:viewModel.file.Name()==null?'您尚未上传任何素材':(viewModel.file.Verify()?viewModel.file.Name:'文件大小超出限制')"></p>
                <div style="max-width: 200px; margin: auto" data-bind="visible:viewModel.file.Verify">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" style="min-width: 2em;" data-bind="style:{'width':viewModel.uploadprogress.Valuenow()}">
                            <span data-bind="text:viewModel.uploadprogress.Valuenow"></span>
                        </div>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data" action="/API/Upload">
                    <button type="button" class="btn btn-success" data-bind="click:viewModel.openfileselect">上传本地素材</button>
                    <input type="file" id="file" name="file" style="display: none" data-bind="event:{change:viewModel.fileselected}" />
                </form>
            </div>
        </div>
        <ul class="nav nav-tabs nav-justified" data-bind="if:viewModel.mymediaetypes().length>0">
            <li><a href="#" data-bind="click:Cards.viewModel.mediafilters,css:(Cards.viewModel.mediatypetoshow()=='*'?'active':'')" data-filter="*">全部</a></li>
            <!-- ko foreach:viewModel.mymediaetypes -->
            <li>
                <a href="#" data-bind="text:Name,attr:{'data-filter':'.'+Id()},click:Cards.viewModel.mediafilters,css:(Cards.viewModel.mediatypetoshow()==('.'+Id())?'active':'')"></a>
            </li>
            <!-- /ko -->
        </ul>
        <div class="row" style="margin-top: 25px;">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 imggrid">
                <div class="thumbnail item-container" style="width: 165px; height: 196px; text-align: center;border-style:dashed">
                    <div class="item-inner-container">
                        <a href="#" data-bind="click:viewModel.openfileselect,visible:viewModel.file.UploadProgress()==false" style="text-decoration: none; color:#666;display: inline-block;">
                            <i class="fa fa-plus fa-3x"></i>
                            <span style="display: block;font-style: normal;font-weight: 400;">上传本地素材</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- ko foreach:viewModel.mediademos -->
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 imggrid" data-bind="css:MediaTypeId">
                <div class="thumbnail" style="width: 165px">
                    <img style="width: 115px; height: 116px" data-bind="nailthumb:{url:ThumbnailUrl}" />
                    <div class="caption ">
                        <div class="text-center">
                            <input class="text-center" style="width: 130px; border: 0; margin-bottom: 10px" data-bind="value:FileName" />
                        </div>
                        <p style="margin-bottom: 0">
                            <small data-bind="date:UpdateTime"></small>
                            <span style="float: right">
                                <span class="btn-group btn-group-xs" role="group">
                                    <a class="btn btn-default" data-bind="click:Cards.viewModel.copylink"><i class="fa fa-link"></i></a>
                                    <button type="button" class="hide" data-bind="attr:{'data-clipboard-text':Url}"></button>
                                    <button type="button" class="btn btn-default" data-bind="click:Cards.viewModel.delete" title="删除"><i class="fa fa-trash"></i></button>
                                </span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>*@

<div class="modal fade" id="preview-dialog">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-bind="text:Cards.viewModel.PreviewCard.MangoCardTitle"></h4>
            </div>
            <div class="modal-body" data-bind="qrbind:Cards.viewModel.PreviewCard.MangoCardUrl">

            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="publish-dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                @*<p class="thumbnail" data-bind="qrbind:Cards.viewModel.selectedcard.PayUrl"></p>*@
            </div>
            <div class="modal-footer">
                <p class="text-center">
                    <button type="button" class="btn btn-black" data-dismiss="modal">关闭</button>
                </p>

            </div>
        </div>
    </div>
</div><!-- /.modal -->
<!--素材库-->
<div class="modal fade" id="library-dialog">
    <div class="modal-dialog " style="width: 860px;">
        <div class="modal-content text-center">
            <div class="modal-header" style="background-color: #f4f5f9">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-left">
                    选择素材
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div style="position: relative; width: 16%; max-width: 240px; float: left; height: 450px; border-right: 1px solid #e5e5e5;">
                        <dl>
                            <dd class="menu_item"><a href="#" data-bind="click:Cards.viewModel.libraryFilter,css:{ menu_item_active: Cards.viewModel.MediaeType()== null}">全部</a></dd>
                            <!-- ko foreach:viewModel.mediaetypes -->
                            <dd class="menu_item"><a href="#" data-bind="text:Name,click:Cards.viewModel.libraryFilter,css:{ menu_item_active: Cards.viewModel.MediaeType()!= null && Cards.viewModel.MediaeType().Id==Id()}"></a></dd>
                            <!-- /ko -->
                        </dl>
                    </div>
                    <div style="position: relative; width: 84%; float: left; height: 450px;overflow: auto;position: relative;">
                        <!-- ko foreach:viewModel.medias -->
                        <div class="thumbnail" style="width: 165px; float: left;  margin-left: 5px;margin-right: 5px;" data-bind="css:{ mediae_selected: Cards.viewModel.Mediae()!= null && Cards.viewModel.Mediae().Id==Id()}">
                            <div class="selected_mask" data-bind="click:Cards.viewModel.SelectedMediae">
                                <div class="selected_mask_inner"></div>
                                <div class="selected_mask_icon"></div>
                            </div>
                            <img style="width: 155px; height: 116px; cursor: pointer;" data-bind="nailthumb:{url:ThumbnailUrl()},click:Cards.viewModel.SelectedMediae" />
                            <div class="caption">
                                <div class="text-center">
                                    <input class="text-center" style="width: 130px; border: 0; margin-bottom: 10px" data-bind="value:FileName" />
                                </div>
                                <p style="margin-bottom: 0">
                                    <small data-bind="date:UpdateTime"></small>
                                    <span style="float: right">
                                        <span class="btn-group btn-group-xs action-group" role="group">
                                            <a class="btn btn-default" data-bind="click:Cards.viewModel.copylink"><i class="fa fa-link"></i></a>
                                            <button type="button" class="hide" data-bind="attr:{'data-clipboard-text':Url}"></button>
                                            <button type="button" class="btn btn-default" data-bind="click:Cards.viewModel.delete" title="删除"><i class="fa fa-trash"></i></button>
                                        </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #f4f5f9">
                <span class="pull-left" data-bind="text:Cards.viewModel.Mediae()!= null ? ('已选：'+Cards.viewModel.Mediae().FileName):''"></span>
                <button type="button" class="btn btn-black" data-bind="attr:{disabled : Cards.viewModel.Mediae()== null},click:Cards.SelectMediaeDetermine">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!--查看素材-->
<div class="modal fade" id="img-dialog">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-left" data-bind="text:Cards.viewModel.ViewMediae.FileName"></h4>
            </div>
            <div class="modal-body">
                <img style="max-width: 100%;" data-bind="attr:{src:Cards.viewModel.ViewMediae.Url}" />
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
