@{
    Layout = null;
}
@using RazorEngine;
@using RazorEngine.Templating;
@model Mango_Cards.Web.Models.MangoCardAttributeModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0"/>
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta name="description" content="@Model.Title">
    <title>@Model.Description</title>
</head>
<body>
    
    @Html.Raw(Model.HtmlCode)
    @*@Html.Raw(Engine.Razor.RunCompile(Model.PageHtmlCode, Model.PageHtmlCode, Model.GetType(), Model))*@
</body>
</html>
