@{
    Layout = null;
}
@using RazorEngine;
@using RazorEngine.Templating;
@model Mango_Cards.Web.Models.MangoCardModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    @Html.Raw(Engine.Razor.RunCompile(Model.HtmlCode, Model.Id.ToString(), null, Model))
</body>
</html>
