@{
    Layout = null;
}
@using RazorEngine;
@using RazorEngine.Templating;
@model Mango_Cards.Web.Models.MangoCardModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
</head>
<body>
    @Html.Raw(Engine.Razor.RunCompile(Model.PageHtmlCode, Model.PageHtmlCode, Model.GetType(), Model))
    
</body>
</html>
