@{
    ViewBag.Title = "Home";
}

@RenderPage("~/Views/Shared/header.cshtml")

@Scripts.Render("~/bundles/Home")
<!-- Page Content -->

<div class="container" id="cardtypes">
    <div class="row" data-bind="foreach:viewModel.cardTypes">
        <h2 class="text-center" data-bind="text:Name"></h2>
        <ul class="nav nav-tabs nav-justified filter-button-group">
            <li><a href="#" data-bind="click:Home.viewModel.filters,css:(Home.viewModel.typetoshow()=='*'?'active':'')" data-filter="*">全部</a></li>
            <!-- ko foreach:SubCardTypeModels -->
            <li>
                <a href="#" data-bind="text:Name,attr:{'data-filter':'.'+Id()},click:Home.viewModel.filters,css:(Home.viewModel.typetoshow()==('.'+Id())?'active':'')"></a>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <ul class="list-unstyled" style="margin-top:40px" data-bind="isotope: { data: viewModel.carddemos, options: viewModel.isotopeOptions }" id="container">
        <li class="col-md-4 portfolio-item" data-bind="css:CardTypeId">
            <div class="grid-item">
                <div class="caption img-rounded">
                    <div class="item-container">
                        <div class="item-inner-container">
                            <h4>Thumbnail Headline</h4>
                        </div>
                    </div>
                </div>
                <img data-bind="attr:{'alt':Name}" src="http://placehold.it/700x400" class="img-responsive img-rounded">
            </div>
        </li>
    </ul>
</div>

<!-- /.container -->
