@{
    ViewBag.Title = "Home";
}

@RenderPage("~/Views/Shared/header.cshtml")

@Scripts.Render("~/bundles/Home")
<!-- Page Content -->
<div class="container">

    <div class="row" data-bind="foreach:viewModel.cardTypes">
        <h2 class="text-center" data-bind="text:Name"></h2>
        <ul class="nav nav-tabs nav-justified filter-button-group">
            <li><a href="#" class="active" data-bind="click:Home.viewModel.filters" data-filter="*">全部</a></li>
            <!-- ko foreach:SubCardTypeModels -->
            <li>
                <a href="#" data-bind="text:Name,attr:{'data-filter':'.'+Id()},click:Home.viewModel.filters"></a>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <div class="row" style="margin-top:40px" data-bind="foreach:viewModel.carddemos" id="isotope">
        <div class="col-md-4 " data-bind="css:CardTypeId">
            <a href="#">
                <img data-bind="attr:{'alt':Name}" src="http://placehold.it/700x400" class="img-responsive img-rounded">
            </a>
        </div>
    </div>
</div>
<!-- /.container -->