
@{
    Layout = null;
}
@Styles.Render("~/Content/coverr")
@Scripts.Render("~/bundles/header")
<!-- Intro Header -->
<header class="homepage-hero-module">

    <div class="video-container">
        <div class="intro">

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>Mango Cards</h1>
                        <p class="intro-text">基于微信，极致, 简便创新的方式</p>
                        <a class="btn btn-circle page-scroll" href="#cardtypes">
                            <h1 class="text-white">
                                <i class="fa fa-angle-down"></i>
                            </h1>
                        </a>
                       


                    </div>
                </div>
            </div>

        </div>
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="~/MP4/We-Work-We-Wait.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="~/WEBM/We-Work-We-Wait.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="~/snapshots/We-Work-We-Wait.jpg" alt="">
        </div>

    </div>
</header>
