
@{
    Layout = null;
}
@Styles.Render("~/Content/coverr")
@Scripts.Render("~/bundles/header")
<!-- Intro Header -->
<header class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="~/MP4/We-Work-We-Wait.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="~/WEBM/We-Work-We-Wait.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="~/snapshots/We-Work-We-Wait.jpg" alt="">
        </div>
    </div>
    <div style="position: absolute; bottom: 20px; left: 50%;">
        <a id="page-scroll">dsadasdsadsa</a>
    </div>
</header>
