@font-face {
    font-family: 'RegencieLight';
    src: url('../fonts/regencielight-webfont.eot');
    src: url('../fonts/regencielight-webfont.svg') format('svg'),url('../fonts/regencielight-webfont.woff') format('woff'),url('../fonts/regencielight-webfont.woff2') format('woff2'),url('../fonts/regencielight-webfont.ttf') format('truetype');
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin-bottom: 25px;
}

.align-middle {
    margin-top: 10%;
    margin-bottom: 10%;
}

.grid-item {
    background-size: cover !important;
    height: 400px;
    overflow: hidden;
    width: 225px;
}

.menu_item {
    line-height: 34px;
}

    .menu_item a {
        text-decoration: none !important;
        color: #666;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: auto;
        word-wrap: normal;
    }

        .menu_item a:hover {
            background-color: #e5e5e5;
        }

.menu_item_active {
    background-color: #333333;
    color: #fff !important;
}

    .menu_item_active:hover {
        background-color: #333333 !important;
        color: #fff !important;
    }

.video-layout {
    border-radius: 4px;
    box-shadow: 0 0 10px #ccc;
}

.title {
    padding: 20px;
}

.grid-item > .caption {
    height: 400px;
    width: 225px;
    position: absolute;
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    display: none;
    text-align: center;
    color: #fff !important;
    z-index: 2;
}

.grid-item > img {
    height: 400px;
    width: 225px;
}

.item-container {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}

.item-inner-container {
    display: table-cell;
    vertical-align: middle;
}

    .item-inner-container a {
        padding: 10px;
    }

.modal-footer-center {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

#cardtypes h2 {
    /*font-family: RegencieLight;*/
    padding: 20px;
    letter-spacing: 5px;
}

.navbar-mango {
    background-color: #333;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.intro {
    height: auto;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 35%;
    width: 100%;
    z-index: 1000;
}

    .intro .intro-text {
        font-size: 20px;
    }

    .intro h1 {
        font-size: 25px;
        letter-spacing: 10px;
    }



@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

        .intro .intro-text {
            font-size: 30px;
            letter-spacing: 15px;
            text-shadow: 0 1px 2px rgba(0,0,0,0.3);
        }

        .intro h1 {
            font-size: 50px;
            letter-spacing: 10px;
            padding: 20px;
            text-shadow: 0 1px 2px rgba(0,0,0,0.3);
        }
}

.text-white {
    color: #fff !important;
    text-decoration: none !important;
}

.text-gray {
    color: #333 !important;
    text-decoration: none !important;
}

.text-spacing-large {
    letter-spacing: 10px;
}
/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

    .isotope .isotope-item {
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -ms-transition-property: -ms-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;
    }

        /**** disabling Isotope CSS3 transitions ****/

        .isotope.no-transition,
        .isotope.no-transition .isotope-item,
        .isotope .isotope-item.no-transition {
            -webkit-transition-duration: 0s;
            -moz-transition-duration: 0s;
            -ms-transition-duration: 0s;
            -o-transition-duration: 0s;
            transition-duration: 0s;
        }
