@{
    ViewBag.Title = "注册成为开发者";
}

<div class="item-container">
    <div class="item-inner-container">
        <div class="container" style="height: 500px;display: -ms-flex;display: -webkit-flex;display: flex;-ms-flex-align: center;-webkit-align-items: center;-webkit-box-align: center;align-items: center;">
            <div style="width: 300px;margin: 0 auto">
                <div class="form-group">
                    <label>姓名</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
                </div>
                <div class="form-group">
                    <label>电话</label>
                    <input type="tel" class="form-control"  placeholder="Phone">
                </div>
                <div class="form-group">
                    <label>邮箱</label>
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group text-center" >
                    <button type="submit" class="btn btn-default">注册</button>
                </div>
            </div>
        </div>
    </div>
</div>
